body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#banner {
    background-image: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-container {
    text-align: center;
}

.banner-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.banner-slide img.active {
    opacity: 1;
}

#packages {
    padding: 100px 0;
    background-color: #f7f7f7;
}

.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.package {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
}

.package h3 {
    font-weight: bold;
    margin-top: 0;
}

#call-action {
    background-image: linear-gradient(to bottom, #4CAF50 0%, #3e8e41 100%);
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin-bottom: 10px
}